<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coretuner.pro">

    <application
        android:allowBackup="true"
        android:label="CoreTuner Pro"
        android:icon="@android:drawable/ic_menu_manage"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
        
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="com.coretuner.pro.shizuku"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false" />
    </application>
</manifest>
